version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-tareas-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tareas_db
      MYSQL_USER: rafael
      MYSQL_PASSWORD: waltuh
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
